body {
   background: #BFD7C1; /* light green */
   color: #262626;
   font-family: Arial, san-serif;
}
#registro {  
   background-color: #EF8E34;
   width: 465px;  
   padding: 20px;  
   margin: 50px auto;  
   border-radius: 15px;    
   -moz-border-radius: 15px;  
   -webkit-border-radius: 15px;  
}
#registro input,  
#registro select,  
#registro textarea,  
#registro label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  

#registro input:focus,  
#registro select:focus,  
#registro textarea:focus {  
   background-color: #E5E6E7;
}  
#registro #submit {  
   width: 450px;  
   color: #BFD7C1;  
   border: none;  
   background-color: #6EA070;
}  
#registro#submit:hover {  
   background-color: #BFD7C1;  
   color: #6EA070;
}
#registro textarea {  
   height: 150px;  
}  

input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
}
#registro.required {  
   font-weight:bold;  
   color: #E5E6E7;      
}
#fallo, #exito {
   color: #E71818;
   display:none;  
}